<div class="container-fluid h-100 bg-dark">
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <div *ngIf="winner" class="alert alert-success" role="alert">
        <h2>The winner is {{ winner }}!</h2>
      </div>
      <table class="table table-dark table-borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">
              <div class="justify-content-between">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-success" (click)="increaseOptions()">Add</button>
                  <button type="button" class="btn btn-danger" (click)="decreaseOptions()">Sub</button>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let option of votingOptions; index as i; trackBy:trackByFn">
            <th scope="row" class="pt-1">{{ i+1 }}</th>
            <td class="pt-0">
              <input type="text" class="form-control form-control-sm" [id]="'voting-option-' + i"
                [(ngModel)]="votingOptions[i]" (ngModelChange)="listChanged()">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-sm-3">
      <button type="button" class="btn btn-info w-100" (click)="calculateWinner([])">Count Votes</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-3" *ngIf="votingPool[currentVotingList] as votingList">
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" [disabled]="currentVotingList == 0" class="btn btn-primary"
            (click)="prevVoter()">&#60;</button>
          <button type="button" disabled class="btn btn-secondary">{{ currentVotingList + 1 }} of {{ votingPool.length
            }}</button>
          <button type="button" [disabled]="currentVotingList == votingPool.length-1" class="btn btn-primary"
            (click)="nextVoter()">&#62;</button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success" (click)="increasePool()">Add</button>
          <button type="button" class="btn btn-danger" (click)="decreasePool()">Sub</button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <input type="text" class="form-control form-control-sm" [placeholder]="'voting-option-' + (currentVotingList + 1)"
                [(ngModel)]="votingPoolTitles[currentVotingList]">
          </h5>
          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, votingList)">
            <ul class="list-group list-group-flush">
              <div class="example-box" *ngFor="let option of votingList" cdkDrag>
                <li class="list-group-item">
                  {{ votingOptions[option] }}
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>